.task-container {
    padding: 2rem 1rem;
    min-height: 100px;
    border-radius: 10px;
    background: white;
    color: black;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.btns-task-container{
    display: flex; 
    flex-direction:column; 
    align-items: center;
    justify-content: space-around;
}

.btns-task-container button{
    background-color:rgb(1, 58, 111);
    color: white;
    border:none;
    border-radius: 5px;
    min-width: 50px;
    min-height: 15px;
}
