
.component {
    height:100%;

    form {
        height: 100%;
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        label {
            color: var(--secondary)
        }

        .add-task-title {
            color: var(--secondary);
            align-self: start;
        }

        .input-box {
            position: relative; 
            font-size: 14px;
            
        }

        .input-box input {
            border: none;
            appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;

            background: var(--primary);
            padding: 12px;
            border-radius: 8px;
            width: 250px;
            outline: none;
            font-size: 14px;
            color: var(--secondary)
        }

        .input-box .placeholder {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--secondary);

        }
        
        .input-box input:focus + .placeholder,
        .input-box input:valid + .placeholder {
            opacity: 0%;
            transition:ease 0.3s;
        }

      

        button {
            max-width:40%;
            min-width:30%;
            height: 2rem;
            border: 1px solid var(--secondary);
            border-radius: 8px;
            color: var(--secondary);
            font-weight: 600;

            background: var(--primary);
        }

        button:hover{ 
            cursor: pointer;
            background: var(--secondary);
            color:black;
            transition:ease-in-out 0.3s;
        }
        
    }
    
}
    